.download-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 25px;
    gap: 15px;
    flex: 1;
    margin: 0;
    height: calc(100dvh - 70px);
}
.download-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    padding: 10px 30px;

    height: fit-content;
    cursor: pointer;

     img{
        height: 70px;
        width: 70px;
        border-radius: 10px;
    }
     h3{
            font-size: 1.3rem;
            font-weight: bold;
            color: var(--primary-text);
        }
        p{
             font-size: medium;
            font-size: 1.1rem;
            font-weight: 400;
            color: var(--secondary-text);
        }

       &:hover{
        transition: all 0.4s ease-in-out;
        background-color: var(--background-2);
    }
}
.download-item-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.remove-download-btn{
    right: 50;
    position: absolute;
    cursor: pointer;
    align-self: center;
    display: flex;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

    &:hover{
        scale: 1.1;
        transition: all 0.2s ease-in-out;
        background-color: rgb(183, 0, 0);
    }
}
