:root {
  --background: #e9e9e9;
  --background-2: #d3d3d3;
  --border: #545454;
  --foreground: #323232;
  --shadow: #9f9f9f;

  --songs-n-player-bg: #e9e9e9d8;
  --primary-text: #1e1e1e;
  --secondary-text: #5d5d5d;
  --accent: #e9153c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0c0c;
    --background-2: #181818;
    --foreground: #9d9d9d;
    --shadow: #000000;
    --primary-text: #ededed;
    --secondary-text: #a0a0a0;
    
    --songs-n-player-bg: #0c0c0c;
  }
}