.our-container{
  
    height: fit-content;

    width: fit-content;

    display: inline-block;
    flex-direction: row;
    align-self: center;


    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.music-list{
    display: flex;
   
}
.musics-container{
    display: inline-block;
    position: relative;
    margin: 5px;
    z-index: 1;


    img{
        width: 150px;
        height: 220px;
        object-fit: cover;
        border-radius: 10px;
        position: relative;
        z-index: 1;
    }
    .image-overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 150px;
        height: 220px;
        border-radius: 9px;
        z-index: 2;
        background: linear-gradient(180deg, transparent 20%, var(--background) 100%);
    }
    .song-artists{
        display: flex;
        position: absolute;
        bottom: 5px;
        left: 10px;
        flex-direction: column;
        z-index: 3;
        color: var(--primary-text);

        h3{
            font-size: 1.3rem;
            font-weight: 650;
        }
        p{
            font-size: 0.8rem;
            font-weight: 300;
            margin: 0;
            padding: 0;
        }
    }
  
}
